@charset "utf-8";
/* CSS Document */

.sound {
  background-image: url(images/sound-icon.png);
  width: 30px;
  height: 30px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #aaa;
  text-indent: 120%;
  padding: 2px;
  border: 1px solid #777;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 50%;
  float:right; 
  margin-right:430px; 
  display:block;
  white-space: nowrap;
  overflow: hidden;
}

.soundOff {
    background-image: url(images/sound-off.png);
	width: 30px;
  height: 30px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #aaa;
  text-indent: 120%;
  padding: 2px;
  border: 1px solid #777;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 50%;
  float:right; 
  margin-right:430px; 
  display:block;
  white-space: nowrap;
  overflow: hidden;
}